


#wrapper{
  max-width: 960px;
  background-color: rgb(238, 233, 204);
  padding: 10px;
  margin: 0 auto;
}

body{
background-color: rgb(24, 17, 48);
font-family: 'Alegreya', serif;
}

.gist{
  width:900px !important;
}

.gist-data{
  max-height: 300px;
  max-width: 900px;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu Mono', monospace;
}

header h1 {
  margin-top: 0;
}

address p {
  display: inline-block;
}

address p:after {
  content: " | ";
  padding: 0 10px;
}

address p:last-child:after {
  content: "";
  padding: 0;
}
